pyaudio
# use sudo apt install python3-pyaudio on Linux
SpeechRecognition[whisper-api]
openai-whisper
wave
thread
requests
pygame
openai-whisper
spotipy
pyppeteer == 1.0.0
google-api-python-client
nest_asyncio
flask
pynput